.StopWatch {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  margin-right: var(--md-1);
  font-size: var(--lg-1);
  font-weight: bold;
  font-variant-numeric: tabular-nums;
}

.run {
  color: var(--text-light);
}

.pause {
  color: var(--text-bolder);
}
