.ul {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.li {
  height: var(--lg-3);
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--text-bolder);
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.duration {
  font-variant-numeric: tabular-nums;
}

.selected {
  background-color: var(--dark-complementary);
}

.noScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScrollBar:-webkit-scrollbar {
  display: none;
}

.inputFile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}
