:root {
  /* colors */
  --primary: #ff0043;
  --secondary: #fafafa;
  --complementary: #535353;

  --dark-primary: #100f10;
  --dark-secondary: #1b1b1b;
  --dark-complementary: #242424;

  /* fonts */
  --text-light: #fffffff5;
  --text-main: #ffffffab;
  --text-bolder: #ffffff73;

  /* sizes */
  --sm-1: 0.375rem;
  --sm-2: 0.625rem;
  --sm-3: 0.875rem;

  --md-1: 1rem;
  --md-2: 1.375rem;
  --md-3: 1.75rem;

  --lg-1: 2.5rem;
  --lg-2: 3.5rem;
  --lg-3: 4.5rem;

  --box: #00000099;
  --shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  justify-content: center;
}

.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-size: var(--md-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overscroll-behavior: none;
  background-color: #060102;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  padding-top: var(--sm-2);
  gap: var(--sm-2);
  width: 100%;
  max-width: 450px;
  height: 100%;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.top {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--sm-3);
}
.box {
  width: unset;
  border-radius: var(--sm-2);
  background-color: var(--box);
  color: antiquewhite;
  box-shadow: var(--shadow);
  margin: 0 var(--sm-2);
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--lg-2);
  border-radius: 50%;
  padding: 0.4rem;
  width: 60px;
  height: 60px;
  background-color: #060102;
}

.logo img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  height: 100%;
  width: 100%;
  gap: var(--sm-2);
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--complementary);
}

nav span {
  padding: var(--sm-1) 0;
  height: 100%;
  width: 100%;
  font-size: var(--md-3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
