:root {
  /* colors */
  --primary: #ff0043;
  --secondary: #fafafa;
  --complementary: #535353;

  --dark-primary: #100f10;
  --dark-secondary: #1b1b1b;
  --dark-complementary: #242424;

  /* fonts */
  --text-light: #fffffff5;
  --text-main: #ffffffab;
  --text-bolder: #ffffff73;

  /* sizes */
  --sm-1: 0.375rem;
  --sm-2: 0.625rem;
  --sm-3: 0.875rem;

  --md-1: 1rem;
  --md-2: 1.375rem;
  --md-3: 1.75rem;

  --lg-1: 2.5rem;
  --lg-2: 3.5rem;
  --lg-3: 4.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#__next {
  height: 100%;
}

.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-size: var(--md-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overscroll-behavior: none;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  width: 100%;
  height: 100%;
}

.top {
  height: auto;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}

.logo {
  height: 3rem;
  width: 50%;
}

.logo img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  /* padding: 0.5rem; */
}

nav span {
  padding: 1rem 0;
  height: 100%;
  width: 100%;
  font-size: xx-large;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
