.player {
  height: auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: 1px solid grey;
}

.titleWrapper {
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
}

.time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.seekBar {
  height: 10px;
  width: 100%;
  border-radius: 18px;
  background-color: grey;
  overflow: hidden;
}

.progress {
  height: 10px;
  background-color: rgba(61, 60, 60, 0.949);
}

