.StopWatch {
  height: auto;
  width: 80%;
  display: flex;
  font-size: var(--lg-2);
  font-weight: bold;
  padding: 0.2rem;
  margin-right: 0.2rem;
  font-variant-numeric: tabular-nums;
}

.run {
  color: var(--text-light);
}

.pause {
  color: var(--text-bolder);
}
